<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:sharedUserId="android.uid.system">

    <!-- CarProperty -->
    <uses-permission android:name="android.car.permission.CAR_VENDOR_EXTENSION" />
    <!-- CarInfo -->
    <uses-permission android:name="android.car.permission.CAR_INFO" />
    <!-- CarPower -->
    <uses-permission android:name="android.car.permission.CAR_POWER" />
    <!-- PowerState -->
    <uses-permission android:name="android.car.permission.CONTROL_SHUTDOWN_PROCESS" />
    <!-- CarInput -->
    <uses-permission
        android:name="android.permission.MONITOR_INPUT"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JoelTest"
        tools:targetApi="31">

        <activity
            android:name="com.joelzhu.joeltest.MainActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name="com.joelzhu.joeltest.info.CarInfoTestActivity" />
        <activity android:name="com.joelzhu.joeltest.input.CarInputTestActivity" />
        <activity android:name="com.joelzhu.joeltest.power.CarPowerTestActivity" />
        <activity android:name="com.joelzhu.joeltest.property.CarPropertyTestActivity" />
        <activity android:name="com.joelzhu.joeltest.mbrestriction.MBRestrictionTestActivity" />
        <activity android:name="com.joelzhu.joeltest.mbcheryota.MBCheryOTAActivity" />
    </application>

</manifest>